<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WebSocket Client</title>

    <script src="/index.js" defer></script>
</head>

<body>
    <h1>WebSocket Client</h1>
    <textarea id="output" cols="40" rows="10" disabled></textarea>
    <br>
    <input type="text" id="input">
    <button onclick="sendMessage()">Send</button>

    <br>
    <br>
    <br>
    <input type="text" id="receiver_id" placeholder="send message to">
    <input type="text" id="msg" placeholder="send message to">
    <button onclick="sendDM()">Send msg</button>
</body>

</html>